<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Drinkit</h1>

        <h4>Lisää uusi</h4>

        <form method="POST" action="ykkoslomake">
            Drinkin nimi:<br/>
            <input type="text" name="aine"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <h4>Lisää raaka-aineita</h4>

        <form method="POST" action="kakkoslomake">
            Drinkin nimi:<br/>
            <select name="valittuDrinkki">
                <option th:each="drinkki: ${drinkit}" 
                        th:value="${drinkki.id}" th:text="${drinkki.nimi}">Drinkki</option>
            </select>
            <br/>
            Lisättävä raaka-aine<br/>
            <select name="valittuRaakaAine">
                <option th:each="raakaaine: ${raakaaineet}" 
                        th:value="${raakaaine.id}" th:text="${raakaaine.nimi}">RaakaAine</option>
            </select>
            <br/>
            Järjestys<br/>
            <input type="text" name="annettuJarjestys"/><br/>
            Määrä<br/>
            <input type="text" name="annettuMaara"/><br/>
            Ohje<br/>
            <input type="text" name="annettuOhje"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <form method="POST" action="poistolomake">
            
            <h4>Poista drinkkejä</h4>
            
            Valitse poistettava drinkki:<br/>
            <select name="poistettavaDrinkki">
                <option th:each="drinkki: ${drinkit}" 
                        th:value="${drinkki.id}" th:text="${drinkki.nimi}">Drinkki</option>
            </select>
            <input type="submit" value="Poista"/>
        </form>

        <ul>
            <li>
                <a href="../">Drinkkilistaukseen</a>
            </li>
        </ul>

    </body>
</html>